//   Created by Marko on 15-3-2016.

doctype html
html
   head
   title Controllers in angular
   script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js")
   script(type="text/javascript" src="./scripts/app.js")
body
   p use controllers to:
   ul
      li Set up the initial state of the $scope object.
      li Add behavior to the $scope object.
   p do not use controllers to:
   ul
      li Manipulate DOM - Controllers should contain only business logic. Putting any presentation logic into Controllers significantly affects its testability. Angular has databinding for most cases and directives to encapsulate manual DOM manipulation.
      li Format input - Use
         a(href="https://docs.angularjs.org/guide/forms") angular form controls
      li Filter output - use
         a(href="https://docs.angularjs.org/guide/filter") Angular services
      li Share code or state across controllers - use
         a(href="https://docs.angularjs.org/guide/services") Angular services
      li Manage the life-cycle of other components (for example, to create service instances).
div(ng-app="app")
   h1 controllers
   div(ng-controller="mainCTRL as main")
      p {{main.message}}
      form(ng-submit="main.updateMessage(main.newMessage)")
         input(type="text" ng-model="main.newMessage")
         button(type="submit") update Message